
@import                 '../../Settings/global.scss';
.register-design{
    width: 25%;
    min-height: 600px;
    background-color: $white;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.35);
    border-radius: 10px;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;


    & h1{
        margin-bottom: 3rem;
        z-index: 1;
        @include font(inherit, 1.6rem,700,inherit,capitalize);
        
    }



    & .register-inputs{
        // border: 1px solid red;        
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.35);
        width: 80%;
        height: 20%;
        padding: 10px 10px;
        margin-bottom: 1rem;

        
        p {
            width: 100%;
            // border: 1px solid red;
            margin-left: 1.5rem;
            margin-bottom: 0px;
            @include font(inherit, 0.8rem,300,inherit,capitalize);
            // position: absolute;
        }
        span{
            margin-right: .6rem;
        }

        & input{
            border: none;
            outline: none;
            border-bottom: 1px solid black;
            width: 80%;  
        }
    }
    .register-inputs:hover{
        box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.55);
        
         p{
             transition: 1s;
            // position: relative;
            opacity: -1;
        }
        input {
            margin-bottom: 1rem;
            transition: 1s 0.5s;
        }
    }
}

.button-container{
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: 1rem;
    .register-button{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: .5rem 2rem;
        border-radius: 20px;
        background: linear-gradient(90deg, rgba(252,204,130,1) 0%, rgba(242,167,66,1) 100%);
        @include font(inherit, 0.8rem,400,inherit,capitalize);
        cursor: pointer;
        margin-right: 2rem;
        
        
    }
    .register-button:hover{
        gap: 1.5rem;
        transition: 1s;
    }
}

.messageError{
    @include font(inherit, 0.8rem,500,inherit);
}


.square{
    width: 300px;
    height: 200px;
    background-color: $neon_carrot;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: ellipse(37% 27% at 81% 23%);
    background: linear-gradient(90deg, rgba(242,167,66,1) 0%, rgba(252,204,130,1) 100%);
}