@import                             '../../Settings/global.scss';

.home-design{
    @include dislpay();
    flex-direction: row;
    gap: 5rem;
    background-color: $timberwolf;
    min-height: 100vh;
}