@import                 '../../Settings/global.scss';
 
.post-design{
    @include dislpay();
    flex-direction: row;
    align-items: flex-start;
}

.sidebar-info-account{
    width: 20%;
    margin: 5rem 2rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-right: 2px solid $neon_carrot;

    & .user-info-name{
        cursor: pointer;
        @include font(inherit, 1rem,700,inherit,capitalize)
    }
}
.main-post-view{
    width: 100%;
}
.post-container{
    width: 80%;
    margin-top: 2rem;
}

.post{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.35);
    background-color: #fdf4e767;

    .post-info{
        width: 50%;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        @include font(inherit,0.8rem,400,inherit,capitalize);
        width: max-content;
        border-bottom: 1px solid $chardonnay;
    }

    .post-title{
        @include font(inherit, 1.2rem,700,inherit,capitalize);
    }
    .post-description{
        @include font($light_grey  ,0.9rem, 400,inherit)
    }
    
}

.create-post-container{
    margin-top: 2rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    
    .input-create-post{
        display: flex;
        flex-direction: column;

        & label{
            @include font($light_grey, 1rem,700,inherit,capitalize)
        }
    }

    .create-post-title{
        width: 30%;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.158);
        margin-bottom: 1rem;        
    }
    .create-post-textarea{
        width: 100%;
        min-height: 150px;
        border: 1px solid rgba(0, 0, 0, 0.158);
        margin-top: 1rem;
    }

    .create-post-button{
        width: max-content;
        padding: 0.5rem 1.5rem;
        margin: 2rem 0rem;
        cursor: pointer;
        border-top: 1px solid $neon_carrot ;
        border-left: 1px solid $neon_carrot ;
        border-bottom: 1px solid $chardonnay;
        border-right: 1px solid $chardonnay;
        @include font(inherit,0.8rem,500,inherit,capitalize);
    }
    
    .create-post-button:active{
        border-top: 2px solid $neon_carrot ;
        border-left: 2px solid $neon_carrot ;
    }
}



.showbox{
    width: 50%;
    display: flex;
    flex-direction: column;
    animation: 2s ease-out;
    animation-name: showbox;

    & .edit-user-input{
        width: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        animation: 3s ease-out;
        animation-name: showbox;

        & input{
            border: none;
            outline: none;
            border-bottom: 1px solid $light_grey;
        }
    }
    
    & button{
        width: 10%;
        margin-top: 1.5rem;
    }
}

.hidebox{
    display: none;
}

.circle-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    border-style: solid;
    border-width: 0 0 100vh 100vw;
    border-color: transparent transparent rgba(168, 108, 108, 0) transparent;
    z-index: -1;
  }
  
  .circle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
  }
  
  .circle1 {
    background-color:  rgba(255, 166, 0, 0.11);
    top: 50%;
    right: 0;
    margin-top: -20px;
    margin-right: -20px;
    width: 300px;
    height: 300px;
}

    .circle2 {
  
    background-color:  rgba(255, 166, 0, 0.164);
    top: 30%;
    right: 30%;
    margin-top: -10px;
    margin-right: -10px;
    width: 200px;
    height: 200px;
  }
  
  .circle3 {
    background-color:  rgba(255, 166, 0, 0.226);
    top: 80%;
    right: 10%;
    margin-top: -20px;
    margin-right: -20px;
    width: 100px;
    height: 100px;
  }


@keyframes showbox {
    from{
        opacity: 0;
    }
    to{
        opacity: 100; 
    }
}