@import                         '../../Settings/global.scss';


.profile-design{
    .inputs-profile-design{
        @include dislpay();
    } 

    & input{
        width: 90%;
        border: none;
        outline: none;
        border-bottom: 1px solid $light_grey;
        margin-bottom: 1rem;
    }

    & label{
        @include font(inherit,0.8rem,400,inherit,capitalize);
    }
    
    .user-info{
        margin-bottom: .5rem;
        cursor: pointer;
        @include font(inherit,0.8rem,400,inherit,capitalize);
    }
    
}

.profile-button{
    width: max-content;
    padding: 0.5rem 1.5rem;
    margin-top: 2rem;
    cursor: pointer;
    border-top: 1px solid $neon_carrot ;
    border-left: 1px solid $neon_carrot ;
    border-bottom: 1px solid $chardonnay;
    border-right: 1px solid $chardonnay;
    @include font(inherit,0.8rem,500,inherit,capitalize);
}

.save-button{
    margin-top: 0em;
}

.profile-button:active{
    border-top: 2px solid $neon_carrot ;
    border-left: 2px solid $neon_carrot ;
}



